* {
    margin: 0px;
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    text-align: center;
    box-sizing: border-box;
}

p {
    font-size: 22px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 14px;
}

.row img {
    width: 300px;
    height: 200px;
}

.container {
    margin: 0 auto;
}

#missionContainer {
    background-image: url("Images/img-mission-background.webp");
    width: 1200px;
    height: 700px;
}

#featuredTeaContainer {
    width: 1000px;
}

.row {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tea {
    margin-left: 10px;
    margin-right: 10px;
}

#teaOfTheMonthHeader {
    display: flex;
    height: 150px;
    flex-direction: column;
    justify-content: space-around;
}

#locationsContainer {
    background-image: url("Images/img-locations-background.webp");
    height: 500px;
    width: 1200px;
}

#locationsHeader {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 15px;
}

#addressesContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 400px;
}

.address {
    height: 300px;
    width: 300px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}

.flex {
    display: flex;
}

.footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 30px;
}

#copyright {
    text-align: left;
    padding-bottom: 30px;
    padding-left: 20px;
}