* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 1;
    text-align: center;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

p{
    font-size: 16px;
}

h5 {
    font-size: 12px;
}